<template>
  <div id="app">
    <ListQuote
      />
  </div>
</template>

<script>

import ListQuote from '../components/ListQuote.vue'

export default {
  components: {
    ListQuote
  }
}

</script>