<template>
  <section class="sec">
    <div  class="content">
      <div class="textAccueil">
        <h2>Welcome <br><span> </span></h2>
        <p>A forum dedicated to web developers, which seeks answers on code problems.
          It is preferable to note between square brackets and at the beginning of the
          title of your subject the language(s) which give you a problem.</p>
        <a href="#/forum">Go to forum</a>
      </div>
    </div>
    <div class="custom-shape-divider-bottom-1609250384">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M1200 0L0 0 892.25 114.72 1200 0z" class="shape-fill"></path>
      </svg>
    </div>
    <img  src="../assets/img/mac.png" class="mac">
  </section>
</template>

<script>
export default {
  name: 'home'
}

</script>

<style scoped lang="scss">

.custom-shape-divider-bottom-1609250384 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  svg{
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 127px;
  }
  .shape-fill{
    fill: #FFFFFF;
  }
}

.textAccueil{
  padding: 13vh 0;
}

.content{
  position: relative;
  max-width: 600px;
  z-index: 10;
  h2{
    color: #fff;
    font-size: 5em;
    line-height: 1em;
    span{
      color: #fff;
      font-size: 0.7em;
    }
  }
  p{
    color: #fff;
    margin: 10px 0 20px ;
  }
  a{
    padding: 10px 30px;
    background: #fff;
    display: inline-block;
    text-decoration: none;
    color: #111;
  }
}



.mac{
  position: absolute;
  bottom: 0;
  height: 90%;
  right: 100px;
}

.input-row{
  label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    color:#fff;
  }
  input , textarea{
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
  }
  input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #e74c3c;
  }
  input:focus ~ label, .input-row input:valid ~ label{
    top:-12px;
    font-size:12px;
  }
}

</style>