<template>
  <div id="app">
    <div class="sec">
      <Auth
      />
      <div v-if="this.$route.name === 'profil' ">
        <router-link replace>
          <ProfilCard
          />
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>

import Auth from "../components/Auth";
import ProfilCard from "../components/ProfilCard";

export default {
  name: 'Login',
  components: {
    Auth,
    ProfilCard
  },
}
</script>

<style>
h1{
  color:white;
}
</style>