<template>
  <div id="app">
    <SignUp
    />
  </div>
</template>


<script>

import SignUp from "../components/SignUp";

export default {
  name: 'app',
  components: {
    SignUp,
  },

}
</script>

<style scoped lang="scss">

</style>