<template>

      <form id="cmtform" class="input-group">
        <p>{{ errors }}</p>
        <label for="comment">Ajouter un commentaire:</label>
        <span>
          <textarea id="comment" name="comment" form="cmtform" rows="5" cols="33" v-model="contenu" required>

          </textarea>
        </span>
        <button class="btn-dark" @click="comment" type="button">Submit</button>
      </form>

</template>

<script>

import {HTTP} from "../store/module/http_url";

export default {
  name: 'AddComment',
  data () {
    return {
      contenu: '',
      topic_id: this.$route.params.id,
      utilisateur_id: localStorage.getItem("id"),
      errors:'',
    }
  },
  methods:{
    comment() {
      HTTP.post('https://localhost:8000/api/commentaire/new', { contenu:this.contenu, topic_id:this.topic_id, utilisateur_id:this.utilisateur_id})
          .then(response => {
            console.log("response : " + response.data)
            document.location.reload()
          })
          .catch(e => {
            e = "Veuillez vous connecter pour mettre un commentaire"
            this.errors = e
          })
    }
  },
}
</script>

<style lang="scss" scoped>
  form{
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      height: 40%;
      display: flex;
      flex-direction: column;
  }
</style>