<template>

  <div>
    <div v-if="connect">
      <profil>
      </profil>
    </div>
    <div v-else>
      <form v-on:submit.prevent="login()" id="login" class="input-group">
        <h1>Login</h1>

        <span id="error" v-if="errors">Login Failed</span>

        <div class="input-row">
          <input type="text" id="inputPseudo" placeholder="Pseudo" v-model="pseudo" required autofocus>
        </div>

        <div class="input-row">
          <input type="password" id="inputPassword" placeholder="Password" v-model="password" required>
        </div>

        <button class="btn-submit">Login</button>
      </form>
    </div>
  </div>
</template>

<script>

import {HTTP} from '../store/module/http_url';
import ProfilCard from "./ProfilCard";

export default {
  name: 'Auth',
  components: {
    'profil': ProfilCard
  },
  data() {
    return {
      pseudo: '',
      password: '',
      errors: '',
      connect: localStorage.getItem("name")
    }
  },
  methods: {
    login() {
      HTTP.get("https://localhost:8000/api/utilisateur/auth/"+this.pseudo+"/"+this.password)
          .then(response =>{
            this.loginSuccess(response)
          })
          .catch(e => {
            this.errors = e;
            localStorage.clear();
          })
    },
    loginSuccess(response){
        localStorage.setItem("name",response.data.nom)
        localStorage.setItem("firstname",response.data.prenom)
        localStorage.setItem("mail",response.data.mail)
        localStorage.setItem("id", response.data.id)
        console.log(localStorage)
        this.$router.go(this.$router.currentRoute)
    }
  }
}

</script>

<style scoped lang="scss">

h1{
  color: white;
}

#login{
  position:absolute;
  top:30%;
  left:50%;
  width:300px;
  height:100px;
  margin-left:-150px; /* -largeur/2 */
  margin-top:-100px; /* -hauteur/2 */
  display: flex;
  flex-direction: column;
}

#error{
  color: red;
}

.btn-submit{
  border: none;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.input-group{
  top: 165px;
  position: absolute;
  width: 280px;
  transition: .5s;
}

.input-row{
  position:relative;
  margin-bottom:25px;
  input , textarea{
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:100%;
    padding:8px 0 5px 0;
    font-size:16px;
    color:#fff;
  }
  input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #e74c3c;
  }
  label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    color:#fff;
  }
  input:focus ~ label, .input-row input:valid ~ label{
    top:-12px;
    font-size:12px;
  }
}

</style>