<template>
  <div>
    <button @click="getListOfCategorie">Voir les catégories</button>
    <ul>
      <span v-if="errors">
        <p>Nous sommes désolés, nous ne sommes pas en mesure de récupérer ces informations pour le moment. Veuillez réessayer ultérieurement.</p>
      </span>
      <li v-for="item in categorie" :key="item.nom">{{ item.nom }}</li>
    </ul>
  </div>
</template>

<script>

import {HTTP} from '../store/module/http_url';

export default {
  name: 'ListCategorie',
  data () {
    return {
      categorie: '',
      errors: ''
    }
  },
  methods: {
    getListOfCategorie: function () {
      HTTP.get('https://localhost:8000/api/categorie')
          .then(response => {
            this.categorie = response.data.categorie
          })
          .catch(e => {
            this.errors = e
          })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
div{
  margin-top: 20px;
  button{
    border: none;
    font-size: 16px;
  }
  ul {
    display : flex;
    justify-content: center;
    li{
      list-style:none;
      margin-right: 10px;
      font-size: 20px;
    }
  }
}
</style>
