<template>
  <div class="sec">
    <div>
      <h1>Catégorie</h1>
      <label for="cat">Veuillez choisir une catégorie : </label>
        <select name="cat" id="cat" >
            <option value="all">* - tous les sujets</option>
            <option v-for="cat in categorie" :key="cat.id" value="">{{cat.id}} - {{cat.nom}}</option>
        </select> <br><br>
        <input @click="show" type="button" value="Rechercher"><br><br>
    </div>
    <h1>Topics</h1>
    <div class="list-topics">
      <div class="box-topic">
        <h3 class="topic">Sujet</h3>
        <span class="auteur"><h3>Auteur</h3></span>
        <h3 class="supprimer">Supprimer</h3>
        <h3 class="update">Update</h3>
      </div>
      <p v-for="item in topic" :key="item.id" class="box-topic">
        <a v-bind:href="'#/quote/'+item.id" class="topic"> {{ item.titre }} </a>
        <span class="auteur">{{ item.auteur_topic }}</span>
        <input class="btn_supprimer" @click="del(item.id)" type="button" value="supprimer le topic">
        <input class="btn_modifier" @click="update_topic(item.id)" type="button" value="update the topic">
      </p>
      <br> <br>
      <input @click="new_topic" type="button" value="créer un topic"> <br> 
    </div> <br> <br>
    <section id="new_modif_topic">
      <h1 id="titre_modif_ajout">Ajouter un Topic</h1><br>
        <label for="titre">Titre du topic : </label>
        <input type="text" name="titre" id="titre" placeholder="ici le titre du topic"><br><br>
        <label for="contenu">Contenu du topic : </label>
        <input type="text" name="contenu" id="contenu" placeholder="ici le contenu du topic"><br><br>
        <section id="sect_choix_cat">
          <label for="choix_cat">Choisir une catégorie : </label>
          <select name="choix_cat" id="choix_cat">
            <option v-for="cat in categorie" :key="cat.id" value="">{{cat.id}} - {{cat.nom}}</option>
          </select><br><br>
        </section>
        <input class="save" id="save" @click="add" type="button" value="Enregistrer le topic"> <br>
        <input class="update" id="update" @click="update" type="button" value="Modifier le topic"> <br>
    </section>
  </div>
</template>
<script>

import {HTTP} from "../store/module/http_url";

export default {
  name: 'ListQuote',
  data () {
    return {
      topic: [],
      topic_details : [],
      categorie : [],
      topics_delete : [],
      id_actuel : 0,
      errors: []
    }
  },
  created() {
    HTTP.get('https://localhost:8000/api/categorie')
      .then(response => {
        this.categorie = response.data.categorie
      })
      .catch(e => {
        this.errors = e
      })
    HTTP.get('https://localhost:8000/api/topic')
            .then(response => {
              this.topic = response.data.topic
            })
          .catch(e => {
            this.errors = e
    })
  },
  methods: {
      del (id) {
        HTTP.delete('https://localhost:8000/api/topic/'+id)
        .then(response => {
          this.topic_deleted = response.data
          window.location.reload()
        })
        .catch(e => {
          this.errors = e
        })
      },

      show () {
        let id_categ = document.getElementById("cat").options[document.getElementById("cat").selectedIndex].text[0]
        if (id_categ == '*'){
          HTTP.get('https://localhost:8000/api/topic')
            .then(response => {
              this.topic = response.data.topic
            })
          .catch(e => {
            this.errors = e
          })
        }else{
          HTTP.get('https://localhost:8000/api/categorie/'+id_categ)
            .then(response => {
              this.topic = response.data.topics
            })
          .catch(e => {
            this.errors = e
          })
        }
      },

      new_topic(){
        document.getElementById("new_modif_topic").style.visibility = "visible"
        document.getElementById("update").style.visibility = "hidden"
      }, 

      add () {
        if (localStorage.getItem("id") == null){
          alert("Vous devez vous inscrire ou vous connecter pour créer un topic")
        }
        if (document.getElementById("titre").value == "" || document.getElementById("contenu").value == ""){
          alert("Au moins des champs est vide, essayez à nouveau !")
        }else{
          let id_categ = document.getElementById("choix_cat").options[document.getElementById("choix_cat").selectedIndex].text[0]
          console.log("id cat : " + id_categ)
          HTTP.post('https://localhost:8000/api/topic/new', {"titre" : document.getElementById("titre").value, "contenu" : document.getElementById("contenu").value, "id" : localStorage.getItem("id"), "categorie" : id_categ})
            .then(response => {
              this.topic = response.data.topic
              document.location.reload()
            })
            .catch(e => {
              this.errors = e
            })
        }
        document.getElementById("new_modif_topic").style.visibility = "hidden"
      },

      update_topic (id){
        document.getElementById("titre_modif_ajout").innerText = "Modifier le topic"
        HTTP.get('https://localhost:8000/api/topic/'+id)
            .then(response => {
              document.getElementById("titre").value = response.data.titre
              document.getElementById("contenu").value = response.data.contenu
            })
          .catch(e => {
            this.errors = e
          })
          document.getElementById("new_modif_topic").style.visibility = "visible"
          document.getElementById("save").style.visibility = "hidden"
          document.getElementById("sect_choix_cat").style.visibility = "hidden"
          this.id_actuel = id
      },

      update() {
        var body = {"titre" : document.getElementById("titre").value, "contenu" : document.getElementById("contenu").value}
        HTTP.put('https://localhost:8000/api/topic/'+this.id_actuel, body)
            .then(response => {
              console.log(response.data)
              window.location.reload()
            })
          .catch(e => {
            this.errors = e
          })
      }
  },
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.list-topics{
  border:solid 2px;
  background-color: rgba(3,3,3,0.40);
  padding: 50px 30px;
  display: inline-block;
  width: 80%;
}

.box-topic{
  padding: 15px;
  border-bottom: 1px solid #555;
  display: flex;
}

.topic{
  margin-inline-end: auto;
  color: limegreen;
  text-decoration: none;
}

.id{
  color: #fff;

}

h1{
  color: #fff;
}

.supprimer, .auteur, .topic, .update{
  padding-left: 120px;
  text-align: center;
}

.btn_supprimer, .auteur, .btn_modifier{
  margin-left: 120px;
  text-align: center;
}

#new_modif_topic{
  visibility: hidden;
}
</style>
