<template>
    <div>
        <h1 class="titre">Ajouter un commentaire</h1><br>
        <p>
            id : {{id}}
        </p><br>
        <label for="contenu">Contenu du commentaire : </label>
        <input type="text" name="contenu" id="contenu" placeholder="ici le contenu du commentaire"><br>
        <label for="author">Auteur du commentaire : </label>
        <select name="author" id="author" >
            <option v-for="user in utilisateur" :key="user.id" value=''>{{user.pseudo}}</option>
        </select> <br><br>
        <input @click="add" type="button" value="Enregistrer le nouveau commentaire"> <br> 
        <a v-bind:href="'#/quote/'+id" class="retour"> <input type="button" value="Retour au topic"> </a>
    </div>
</template>

<script>

import {HTTP} from "../store/module/http_url";
import axios from 'axios';

export default {
    name: 'Quote',
  data () {
    return {
      topic: [],
      utilisateur : [],
      id : document.location.href.slice(-1),
      resp : [],
      errors: []
    }
  },
  created() {
    HTTP.get('https://localhost:8000/api/utilisateur')
        .then(response => {
          this.utilisateur=response.data.utilisateur
        })
        .catch(e => {
          this.errors = e
        })
  },
  methods: {
      add () {
        HTTP.get('https://localhost:8000/api/topic/'+this.id)
            .then(response => {
                response.data.commentaires.push({"auteur" : document.getElementById("author").options[document.getElementById("author").selectedIndex].text, "contenu" : document.getElementById("contenu").value, "creation" : new Date(), "id" : response.data.commentaires.length, 'last_maj' : new Date()})
                this.topic = response.data
                axios.put("https://localhost:8000/api/topic/"+this.id, this.topic)
                console.log(this.topic)
                .catch(e => {
                this.errors = e
                })
            })
            .catch(e => {
            this.errors = e
            })
      }
  }
}
</script>

<style lang="scss" scoped>
.titre{
    color:rgb(231, 16, 16);
}
</style>

