<template>

  <div>
    <img src="https://uybor.uz/borless/uybor/img/user-images/user_no_photo_100x100.png" alt="Img user">
    <p>{{ name }}</p>
    <p>{{ firstname }}</p>
    <p>{{ mail }}</p>
    <button class="btn-danger" @click="disconnect">Déconnection</button>
  </div>

</template>


<script>
export default {
  name:"ProfilCard",
  data(){
    return {
      firstname: localStorage.firstname,
      name: localStorage.name,
      mail: localStorage.mail,
      connect: true,
    }
  },
  created() {
    console.log(localStorage)
  },
  methods:{
    disconnect(){
      localStorage.clear();
      this.$router.go(this.$router.currentRoute);
    }
  },
}

</script>

<style>

</style>