<template>

  <div class="sec form-container">

    <span class="error" v-if="utilisateur.errors">Login Failed</span>

    <span class="success" v-if="this.success">Vos données ont bien été enregistré</span>

    <form v-on:submit.prevent="login" class="input-group">
      <h2 id="title_connect">Please sign up</h2>

      <div class="input-row">
        <label for="inputName" >Name</label>
        <input type="text" id="inputName" placeholder="" v-model="utilisateur.nom" required autofocus>
      </div>

      <div class="input-row">
        <label for="inputFirstName" >First Name</label>
        <input type="text" id="inputFirstName" placeholder="" v-model="utilisateur.prenom" required autofocus>
      </div>

      <div class="input-row">
        <label for="inputPseudo" >Pseudo</label>
        <input type="text" id="inputPseudo" placeholder="" v-model="utilisateur.pseudo" required autofocus>
      </div>

      <div class="input-row">
        <label for="inputEmail" >Email address</label>
        <input type="email" id="inputEmail" placeholder=""  v-model="utilisateur.mail" required autofocus>
      </div>

      <div class="input-row">
        <label for="inputPassword">Password</label>
        <input type="password" id="inputPassword" placeholder="" v-model="utilisateur.password" required>
      </div>

      <button class="btn-submit">Sign up</button>

    </form>

  </div>
</template>

<script>

import {HTTP} from '../store/module/http_url';

export default {
  name: 'SignUp',
  data () {
    return {
      utilisateur : {
        nom: '',
        prenom: '',
        mail: '',
        pseudo: '',
        password: '',
        errors:'',
        success: '',
      }
    }
  },
  methods: {
    login () {
      HTTP.post("https://localhost:8000/api/utilisateur/new",
          {
            nom: this.utilisateur.nom,
            prenom: this.utilisateur.prenom,
            mail: this.utilisateur.mail,
            pseudo: this.utilisateur.pseudo,
            password: this.utilisateur.password,
            role: 0,
            api: Math.random().toString().slice(2,11),
          }
      )
          .then(response =>{
            this.loginSuccessful(response);
          })
          .catch(e => {
            this.utilisateur.errors = e;
            this.success = false;
          })
    },
    loginSuccessful () {
      this.utilisateur.errors = false
      this.success = true
      localStorage.clear();
    },
  }
}

</script>


<style scoped lang="scss">
.input-row{
  position:relative;
  margin-bottom:25px;
  label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:16px;
    color:#fff;
  }
  input , textarea{
    border:0;
    border-bottom:1px solid #555;
    background:transparent;
    width:100%;
    padding:25px 0 5px 0;
    font-size:16px;
    color:#fff;
  }
  input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #e74c3c;
  }
  input:focus ~ label, .input-row input:valid ~ label{
    top:-12px;
    font-size:12px;
  }
}

.input-group{
  width: 560px;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.45);
  border-radius:3px;
  padding:30px 60px;
  z-index: 6;
  display: flex;
  flex-direction: column;
}
.btn-submit{
  border: none;
  display: block;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

#title_connect{
  color:#fff;
  margin: revert;
}
</style>