<template>
  <div id="app">
    <Navigation
        :nav-links="navLinks"
        :image-path="require('./assets/img/logo.png')"
        background-color="#333"
        link-color="#FFF"
        hover-background="#555"
    />
    <router-view/>
  </div>
</template>

<script>

import Navigation from './components/Navigation.vue'

export default {
  components : {
    Navigation,
  },
  data : () => ({
    navLinks: [
      {
        text: 'Home',
        path: '/',
        icon: 'ion-ios-home'
      },
      {
        text: 'Forum',
        path: '/forum',
        icon: 'ion-ios-chatbubbles'
      },
      {
        text: 'Log in',
        path: '/login',
        icon: 'ion-ios-log-in'
      },
      {
        text: 'Sign Up',
        path: '/signup',
        icon: 'ion-ios-person'
      },
    ]
  })
}

</script>

<style lang="scss">

@import url('https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css');
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css");

figure{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 10px;
  margin-inline-end: 0;
}

body {
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.sec{
  position: relative;
  width: 100%;
  min-height: 93.4vh;
  background: linear-gradient(#03a9f4,#e91e63);
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

</style>
